body{
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	background: #FFE9F0;
}
.hero1{
	padding: 40px 10px;
	box-sizing: border-box;
}
.hero1 h3{
	font-size: 36px;
	max-width: 1024px;
	margin: 20px auto;
	text-align: center;
}
.hero1 div{
	max-width: 1024px;
	margin:0 auto;
}
.hero1 img{
	width: 100%;
	display: block;
}
.hero1 p{
	max-width: 850px;
	font-size: 24px;
	margin: 0 auto 20px;
	text-align: center;
	line-height: 34px;
}
.hero1 h4{
	max-width: 1024px; 
	font-size: 32px; 
	font-weight: 500;
}
.about{
	background: #FFE1EA;
	padding: 50px 20px;
}
.about > div{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.about img{
	width: 25%;
}
.about p{
	font-size: 16px;
	color: #0F2846;
	text-align: justify;
}
.about > div > div{
	width: 70%;
} 
.about div div div {
	display: inline-block;
    color: #FF3D6E;
    background: #FFF1F6;
    border-radius: 50px;
    padding: 3px 13px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.about cite{
	display: block;
    font-size: 40px;
    color: #0F2846;
    font-family: 'Noto Serif Display';
    font-style: normal;
    line-height: .6;
    margin: 20px 0;
    font-weight: 500;
}
.about cite span{
	font-size: 20px;
}
.cta{
	background: linear-gradient(27deg, #E1185E, #F8A1C7);
    text-decoration: none;
    padding: 18px 0;
    margin: 20px auto;
    display: block;
    max-width: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 15px;
	box-shadow: 0 33px 35px -22px rgb(220 66 122 / 40%);
	cursor:pointer;
}
.ervek{
	background: radial-gradient(at 50% 50%, #FFC1D4 0%, #FFE8F0 80%);
	padding: 50px 10px;
}
.ervek h3{
	font-size: 36px;
	max-width: 700px;
	margin: 40px auto;
	text-align: center;
}
.ervek > div{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.ervek > div > div{
	background: rgba(255, 255, 255, 0.3);
	font-size: 24px;
	font-weight: 500;
	width: 48%;
	margin: 0 0 20px;
	padding: 20px;
	box-sizing: border-box;
	line-height: 38px;
	border-radius: 5px;
	text-align: center;
}
.ervek > div > div:last-child{
	width: 98%;
}

.velemenyek{
	background: linear-gradient(27deg, #DD306D, #F8C3DA);
	padding: 40px 10px;
}
.velemenyek > div{
	max-width: 1024px;
    margin: 0 auto;
    padding: 90px 0 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.velemenyek > div > div{
	width: 45%;
    color: white;
    position: relative;
    margin: 0 0 70px;
    font-style: italic;
}
.velemenyek div div div{
	font-size: 180px;
    font-weight: 700;
    color: #0F2846;
    margin: 0 0 50px;
    font-family: 'Noto Serif Display';
    position: absolute;
    top: -115px;
    font-style: normal;
}
.velemenyek p {
    z-index: 100;
    position: relative;
}
.velemenyek h3{
	font-size: 32px;
	font-weight: 700;
	color:white;
	text-align: center;
}

.hero3{
	padding: 40px 10px 10px;
}
.hero3 div{
	max-width: 890px;
	margin: 0 auto;
	text-align: center;
}
.hero3 img{
	width: 100%;
	max-width: 934px;
	display: block;
	margin: 0 auto;
}
.hero3 p{
	font-size: 24px;
}
.form{
	background: radial-gradient(at 50% 50%, #FFC1D4 0%, #FFE8F0 60%);
	padding: 40px 10px;
}
.form h3{
	font-size: 64px;
	max-width: 700px;
	margin: 40px auto;
	text-align: center;
	color: #0F2846;
}
.form > div{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}
.form > div > div,
.form form{
	width: 44%;
}
.form h4{
	font-size: 44px;
	font-family: 'Noto Serif Display';
	color: #0F2846;
	font-weight: 400;
	margin: 20px 0;
}
.form > div > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.form > div > div > div div{
	width: 74%;
}
.form cite {
    font-size: 26px;
    font-family: 'Noto Serif Display';
    font-style: normal;
	color: #0F2846;
}
.form cite span {
    font-size: 16px;
}
.form img {
    width: 23%;
    display: block;
}
.form p{
	font-size: 14px;
	color: #0F2846;
}

.rendeles-form{
	padding: 40px;
	box-sizing: border-box;
}
form input[type="text"],
form input[type="email"]{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 0 20px;
    border: 0;
	border-bottom: 1px solid rgba(15, 40, 70, 0.3);
    font-size: 18px;
	background: transparent;
	color: #0F2846;
}
form input[type="text"]:focus-visible,
form input[type="email"]:focus-visible{
	outline: none;
    border-bottom: 1px solid rgba(15, 40, 70, 1);
}
input:-webkit-autofill {
    background-color: transparent !important;
    color: #0F2846 !important;
}
form label {
	font-size: 16px;
	text-transform: uppercase;
    display: inline-block;
    color: #0F2846;
}
form button {
    background: linear-gradient(27deg, #E1185E, #F8A1C7);
    text-decoration: none;
    padding: 18px 30px;
    margin: 20px auto;
    display: block;
    max-width: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
	border:0;
    border-radius: 15px;
	box-shadow: 0 33px 35px -22px rgb(220 66 122 / 40%);
	cursor:pointer;
}
form button:hover {
	cursor: pointer;
}

@media (max-width:500px){
body {
    font-size: 16px;
}
.hero1 h3 {
    font-size: 22px;
}
.hero1 p {
	font-size: 18px;
    line-height: 25px;
}
.hero1 h4{
	font-size: 22px; 
}
.about img {
    width: 60%;
    margin: 0 auto 20px;
}
.about > div > div {
    width: 100%;
}
.ervek h3,
.velemenyek h3{
    font-size: 25px;
}
.ervek > div > div {
    width: 95%;
    line-height: 27px;
	font-size: 18px;
}
.velemenyek > div > div {
    width: 90%;
}
.ervek > div > div {
    width: 95%;
}
.hero3 p {
    font-size: 16px;
}
.form {
    padding: 0 10px 40px;
    margin-top: -50px;
}
.form h3 {
    font-size: 40px;
}
.form div div,
.form form{
	width: 95%;
}
.form h4 {
    font-size: 32px;
}
.form img {
    width: 50%;
}
.form > div > div > div div {
    width: 100%;
}
.rendeles-form {
    padding: 0;
}
}
