html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    background: #101010;
}
h1, h3{
    text-transform: uppercase;
    font-family: "Inter-Tight", sans-serif;
    margin: 0;
    position: relative;
}
h3{
    font-size: 40px;
}
p{
    margin: 0 0 20px;
}
.header{
    background: url(img/header-bg.jpg) no-repeat center top;
    background-size: cover;
    padding: 260px 0;
    position: relative;
}
.header:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(16,16,16,1) 0%, rgba(16,16,16,0) 13%, rgba(16,16,16,0) 55%, rgba(16,16,16,1) 100%);
}
.header .content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    position: relative;
}
.header .content > div{
    width: 70%;
    max-width: 810px;
}
.header h1{
    font-size: 60px;
}
.header p{
    margin: 0;
    font-size: 20px;
}
.cta{
    background: #E6971F;
    color: #101010;
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    padding: 15px 50px;
    margin: 30px 0 0;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}
.cta:hover img{
    transform: translateX(8px);
}
.cta img{
    transition: 150ms ease-in-out;
}
.chevron-red{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.chevron-red img{
    display: block;
    animation: pulse 1s infinite alternate;
}
.chevron-red img:nth-child(2){
    animation-delay: 0.3s;
}
.chevron-red img:nth-child(3){
    animation-delay: 0.6s;
}
@keyframes pulse {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.hero2{
    padding: 100px 10px;
}
.hero2 > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.hero2 > div > div:nth-child(odd){
    width: 25%;
    aspect-ratio: 1/1;
    padding: 0 37px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #E6971F;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.hero2 > div > div:nth-child(even){
    width: 12.5%;
    border-top: 1px dashed #E6971F;
}
.hero3{
    background: url(img/hero3-bg.jpg) no-repeat center top;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    box-sizing: border-box;
}
.hero3:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(16,16,16,1) 0%, rgba(16,16,16,0) 25%, rgba(16,16,16,0) 75%, rgba(16,16,16,1) 100%);
}
.hero3 > p{
    font-size: 36px;
    text-align: center;
    margin: 0;
    position: relative;
}
.hero3 h3{
    text-align: center;
    margin: 0 0 200px;
    position: relative;
}
.hero3 > div{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.hero3 > div > div{
    width: 50%;
    margin: 0 0 0 auto;
    background: black;
    box-shadow: 15px 15px #E6971F;
    padding: 40px;
    box-sizing: border-box;
}
.hero3 h4{
    font-family: "Inter-Tight", sans-serif;
    font-size: 30px;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.hero3 ul{
    list-style: none;
    margin: 0 0 20px;
    padding: 0 0 0 30px;
}
.hero3 ul li{
    margin: 0 0 10px;
    position: relative;
}
.hero3 ul li:before{
    content: url("img/check.svg");
    position: absolute;
    top: 17px;
    transform: translateY(-50%);
    left: -30px;
    width: 30px;
    height: 30px;
}
.hero3 > div > div p{
    margin: 0;
}
.hero4{
    background: black;
    padding: 50px 10px;
    box-sizing: border-box;
}
.hero4 > div{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 0 60px;
    position: relative;
}
.hero4 > div:before{
    content: url("img/clock.svg");
    position: absolute;
    top: 30px;
    transform: translateY(-50%);
    left: 0;
    width: 30px;
    height: 30px;
}
.hero4 h3{
    font-size: 60px;
}
.hero4 h4{
    font-size: 32px;
    margin: 0;
}
.hero5{
    padding: 100px 10px;
}
.hero5 > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.hero5 > div > div{
    width: 50%;
}
.hero5 h3{
    font-size: 60px;

}
.hero5 .form {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    background: black;
    box-shadow: 15px 15px #E6971F;
}
.hero5 .form div {
    height: 85px;
    margin: 0 0 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px dashed #E6971F;
}
.hero5 .form label {
    display: block;
    font-size: 16px;
    color: #E6971F;
    margin: 0 0 10px;
}
.hero5 .form input {
    background: transparent;
    border: 0;
    padding: 0;
    outline: none;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    color: #E6971F;
    font-weight: 500;
}
.hero5 .form p{
    font-size: 12px;
}
.hero5 .form a{
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed #E6971F;
}
.hero5 .form button {
    width: 100%;
    height: 85px;
    border: 0;
    background: #E6971F;
    color: #101010;
    font-size: 24px;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 700;
    cursor:pointer ;
}

@media (max-width: 1024px){
    body{
        font-size: 16px;
    }
    .header{
        background: url(img/header-bg-m.jpg) no-repeat 70% top;
        background-size: auto 50%;
        padding: 260px 0 170px;
    }
    .header .content > div {
        width: 100%;
    }
    .header h1{
        font-size: 30px;
    }
    .header p{
        font-size: 16px;
    }
    .hero2{
        padding: 20px 0;
    }
    .hero2 > div{
        flex-direction: column;
    }
    .hero2 > div > div:nth-child(odd){
        width: 75%;
    }
    .hero2 > div > div:nth-child(even){
        width: 0;
        height: 10vh;
        border-right: 1px dashed #E6971F;
    }
    .hero3 {
        background: url(img/hero3-bg-m.jpg) no-repeat 16% top;
        background-size: auto 60%;
    }
    .hero3 > p{
        padding: 0 10px;
        font-size: 24px;
    }
    .hero3 h3{
        padding: 0 10px;
        font-size: 30px;
    }
    .hero3 > div > div {
        width: 90%;
        margin: 0 auto;
    }
    .hero3 h4 {
        font-size: 24px;
    }
    .hero4 h3 {
        font-size: 30px;
    }
    .hero4 h4 {
        font-size: 20px;
    }
    .hero5 h3 {
        font-size: 30px;
    }
    .hero5 > div > div {
        width: 90%;
        margin: 0 auto;
    }

}