html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body{
	margin:0;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	color: #AA5530;
	background: #FFEFE2;
	font-feature-settings: "lnum" 1;
	overflow-x: hidden;
	position: relative;
}
#succes-cart{
	position: fixed;
	top:-120px;
	right: calc(50% - 142px);
	background: linear-gradient(62deg, #BA6C4A, #76381E);
	color:white;
	border-radius: 20px;
	padding: 20px 18px;
	z-index: 10;
	transition: 300ms ease-in-out;
}
#succes-cart.active{
	top:10px;
}
#alert-cart{
	position: fixed;
	top: -120px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	background: linear-gradient(62deg, #921b1b, #dc4242);
	color: white;
	border-radius: 20px;
	padding: 20px 18px;
	box-sizing: border-box;
	z-index: 10;
	transition: 300ms ease-in-out;
}
#alert-cart.active{
	top:10px;
}
.header{
	background: radial-gradient(#EAC9AD, #DF8666);
	padding: 275px 10px 230px;
	position: relative;
}
.header:before{
	content: "";
	background: url(img/pink-felho.png) no-repeat center;
	background-size: cover;
	position: absolute;
	height: 317px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.header:after{
	content: "";
	background: url(img/white-felho.png) no-repeat center;
	background-size: cover;
	position: absolute;
	height: 450px;
	width: 100%;
	bottom: -1px;
	left: 0;
	z-index: 1;
}
.header .heart {
	position: absolute;
	top: 80px;
	left: 49%;
	transform: scale(1) translateX(-33%);
	transform-origin: left;
	transition: 300ms ease-in-out;
	animation: heart 7s infinite;
	animation-delay: 1s;
	z-index: 0;
}

@keyframes heart {
	0% { transform: scale(1) translateX(-33%); }
	10% { transform: scale(1) translateX(-33%); }
	14% { transform: scale(1.1) translateX(-33%); }
	18% { transform: scale(1) translateX(-33%); }
	22% { transform: scale(1.1) translateX(-33%); }
	26% { transform: scale(1) translateX(-33%); }
	100% { transform: scale(1) translateX(-33%); }
}
.header > div{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.header > div > div{
	width: 50%;
	position: relative;
	z-index: 1;
}
.header .header-girl{
	width: 50%;
	transform: translateY(80px);
	opacity: 0;
	filter: blur(5px);
	position: relative;
	z-index: 1;
	transition: 500ms ease-out;
}
.header .header-girl.visible{
	filter: blur(0);
	opacity: 1;
	transform: translateY(0);
}
.header .logo{
	display: block;
	margin: 0 auto;
	max-width: 80px;
	opacity: 0;
	transform: translateY(100px);
	transition: 500ms ease-out;
}
.header .logo.visible{
	opacity: 1;
	transform: translateY(0);
}
.header h1{
	font-family: 'Playfair Display', serif;
	font-size: 32px;
	font-weight: 400;
	color: white;
	text-align: center;
	margin: 0 0 30px;
	white-space: pre;
	overflow-y: hidden;
}
.header h1 span {
	display: inline-block;
	transform: translateY(99%);
	transition: 500ms ease-out;
}
.header h1 span.visible{
	transform: translateX(0);
}
.header h2{
	font-family: 'Playfair Display';
	font-size: 60px;
	font-weight: 400;
	color: #AA5530;
	margin: 0;
	line-height: 68px;
	text-transform: uppercase;
}
.header h2 div{
	overflow-y: hidden;
}
.header h2 span {
	display: inline-block;
	transform: translateY(99%);
	transition: 500ms ease-out;
}
.header h2 span.visible{
	transform: translateX(0);
}
.header p div {
	display: inline-block;
	overflow-y: hidden;
	width: fit-content;
	margin: 0 5px 0 0;
	line-height: 1.2;
}
.header p span {
	transform: translateY(99%);
	display: inline-block;
	transition: 500ms ease-out;
}
.header p span.visible {
	transform: translateY(0);
}
.cta{
	background: linear-gradient(62deg, #BA6C4A, #76381E);
    text-decoration: none;
    padding: 15px 0;
    margin: 20px auto;
    display: block;
    max-width: 170px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 15px;
	cursor:pointer;
	opacity: 0;
	transform: translateY(50px);
	transition: 500ms ease-out;
}
.cta.visible{
	opacity: 1;
	transform: translateY(0);
}
.hero1{
	background: #FFEFE2;
	background-size: cover;
	padding: 0 10px 120px;
}
.hero1 > div{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.hero1 > div img,
.hero1 > div > div{
	width: 50%;
}
.hero1 > div img{
	opacity: 0;
	transform: translateY(100px) scale(1.3);
	transform-origin: top left;
	transition: 500ms ease-out;
}
.hero1 > div img.visible{
	opacity: 1;
	transform: translateY(50px) scale(1.3);
}
.hero1 h3{
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	font-weight: 400;
	color: #AA5530;
	margin: 0 0 10px;
	text-transform: uppercase;
	line-height: 1.1;
}
.hero1 h3 div {
	display: inline-block;
	overflow-y: hidden;
	width: fit-content;
	margin: 0 8px 0 0;
}
.hero1 h3 span {
	transform: translateY(99%);
	display: inline-block;
	transition: 500ms ease-out;
}
.hero1 h3 span.visible {
	transform: translateY(0);
}
.hero1 p{
	line-height: 1.2;
	font-size: 22px;
	margin: 0 0 20px;
}
.hero1 p div {
	display: inline-block;
	overflow-y: hidden;
	width: fit-content;
	margin: 0 5px 0 0;
}
.hero1 p span {
	transform: translateY(99%);
	display: inline-block;
	transition: 500ms ease-out;
}
.hero1 p span.visible {
	transform: translateY(0);
}
.hero2{
	background: #ffefe2;
	background-size: cover;
	padding: 100px 10px 50px;
}
.hero2 > div{
	max-width: 1265px;
	margin: 0 auto;
}
.hero2 h3{
	max-width: 1024px;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	font-weight: 400;
	color: #AA5530;
	margin: 0 auto 10px;
	text-transform: uppercase;
	text-align: center;
}
.hero2 h3 div{
	display: inline-block;
	overflow-y: hidden;
	width: fit-content;
	margin: 0 8px 0 0;
}
.hero2 h3 span{
	transform: translateY(99%);
	display: inline-block;
	transition: 500ms ease-out;
}
.hero2 h3 span.visible{
	transform: translateY(0);
}
.hero2 p{
	max-width: 768px;
	text-align: center;
	margin: 0 auto 220px;
	line-height: 1.2;
	font-size: 22px;
}
.hero2 p div {
	display: inline-block;
	overflow-y: hidden;
	width: fit-content;
	margin: 0 5px 0 0;
}
.hero2 p span {
	transform: translateY(99%);
	display: inline-block;
	transition: 500ms ease-out;
}
.hero2 p span.visible {
	transform: translateY(0);
}
.termekek{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.termek{
	width: 32%;
	background: white;
	border-radius: 30px;
	box-shadow: 8px 8px 25px rgba(0,0,0,0.1);
	padding: 30px;
	margin: 0 0 20px;
	box-sizing: border-box;
	opacity: 0;
	transform: translateY(100px);
	transition: 500ms ease-out;
}
.termek.visible{
	opacity: 1;
	transform: translateY(0);
}
.termek:last-child{
	background: linear-gradient(-30deg, #EB9442 0%, #92431B 66%, #FFC18C 100%);
	color:white;
}
.termek .termek-kep img {
    max-width: 100%;
    display: block;
    margin: -200px auto 20px;
}
.termek-kep .tag{
	background: linear-gradient(62deg, #BA6C4A, #76381E);
    border-radius: 50px;
    padding: 2px 15px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0;
    display: inline-block;
}
.termek:last-child .tag{
	color:#AA5530;
	background: white;
}
.termek-nev{
	font-size: 32px;
	font-weight: 700;
}
.termek-ar{
	max-width: 200px;
	font-size: 40px;
	font-family: 'Playfair Display', serif;
	line-height: 40px;
}
.termek-ar del{
	font-size: 32px;
	color:red;
}
.termek:last-child .termek-ar del{
	font-size: 32px;
	color:white;
}
.termek-leiras{
	font-size: 20px;
	margin: 0 0 20px;
}
.termek-leiras ul{
	margin: 0;
}
.termek-gomb{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.kosar-gomb{
	background: linear-gradient(62deg, #BA6C4A, #76381E);
	padding: 14px 32px;
    display: block;
    max-width: 184px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
	border: 0;
    border-radius: 15px;
	text-decoration: none;
	cursor:pointer;
	transition: 100ms ease-in-out;
}
.kosar-gomb:active {
    transform: scale(0.97);
}
.termek:last-child .kosar-gomb{
	color:#D6845A;
	background: white;
}
.hero3{
	padding: 140px 10px 0;
}
.hero3 > div{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.hero3 > div > div,
.hero3 img{
	width: 50%;
}
.hero3 > div img{
	opacity: 0;
	transform: translateY(100px);
	transition: 500ms ease-out;
}
.hero3 > div img.visible{
	opacity: 1;
	transform: translateY(0);
}
.hero3 h3{
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	font-weight: 400;
	color: #AA5530;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.hero3 h3 div {
	display: inline-block;
	overflow-y: hidden;
	width: fit-content;
	margin: 0 8px 0 0;
}
.hero3 h3 span {
	transform: translateY(99%);
	display: inline-block;
	transition: 500ms ease-out;
}
.hero3 h3 span.visible {
	transform: translateY(0);
}
.hero3 p{
	line-height: 1.2;
	font-size: 22px;
}
.hero3 p div {
	display: inline-block;
	overflow-y: hidden;
	width: fit-content;
	margin: 0 5px 0 0;
}
.hero3 p span {
	transform: translateY(99%);
	display: inline-block;
	transition: 500ms ease-out;
}
.hero3 p span.visible {
	transform: translateY(0);
}

footer{
	background: url(img/footer.jpg) top center no-repeat;
	background-size: cover;
	display: block;
	width: 100%;
	min-height: 484px;
	margin: 0;
}

#form{
	transition: 500ms ease-in-out;
}
.form {
	background: radial-gradient(#EAC9AD, #DF8666);
	padding: 320px 20px 300px;
	position: relative;
	overflow: hidden;
}
.form:before{
	content: "";
	background: url(img/white-felho.png) no-repeat center;
	background-size: cover;
	position: absolute;
	height: 450px;
	width: 100%;
	top: -1px;
	left: 0;
	transform: rotate(180deg);
	z-index: 1;
}
.form:after{
	content: "";
	background: url(img/pink-felho.png) no-repeat center;
	background-size: cover;
	position: absolute;
	height: 450px;
	width: 100%;
	bottom: -10px;
	left:0;
	transform: rotate(180deg);
}
.form h3{
	font-family: 'Playfair Display', serif;
	font-size: 64px;
	font-weight: 400;
	margin: 40px auto 0;
	text-align: center;
	color: #AA5530;
	position: relative;
	z-index: 2;
}
.form h3 div {
	display: inline-block;
	overflow-y: hidden;
	width: fit-content;
	margin: 0 8px 0 0;
}
.form h3 span {
	transform: translateY(99%);
	display: inline-block;
	transition: 500ms ease-out;
}
.form h3 span.visible {
	transform: translateY(0);
}
.form p div {
	display: inline-block;
	overflow-y: hidden;
	width: fit-content;
	margin: 0 5px 0 0;
}
.form p span {
	transform: translateY(99%);
	display: inline-block;
	transition: 500ms ease-out;
}
.form p span.visible {
	transform: translateY(0);
}
.form > div{
	max-width: 1024px;
	margin: 30px auto 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	position: relative;
	z-index: 1;
}
.form > div > div,
.form form{
	width: 46%;
}
.rendeles-form{
	padding: 20px;
	box-sizing: border-box;
}
.rendeles{
	max-width: 1024px;
	margin: 0 auto;
}
.rendeles h3, .rendeles p{
	text-align: center;
	margin: 0;
}
.rendeles .form{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top:30px;
}
.rendeles .form > div{
	width: 45%;
}
.kosar-termek {
	display: flex;
	align-items: center;
	gap: 10px;
	background: linear-gradient(62deg, #BA6C4A, #76381E);
	border-radius: 30px;
	padding: 0;
	margin: 0 0 70px;
	box-sizing: border-box;
	color: white;
	position: relative;
	transition: 300ms ease-in-out;
}
.kosar-termek.remove{
	transform: translateX(-100px);
	opacity: 0;
}
.kosar-termek .kosar-termekkep img{
    max-height: 150px;
    margin: -60px 0 0 0;
}
.kosar-termeknev {
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 5px;
}
.kosar-termek input[type="text"] {
    width: 42px;
    padding: 0px 10px;
    box-sizing: border-box;
    border: 0;
    font-size: 18px;
    background: transparent;
    color: white;
    text-align: center;
}
.kosar-termekar {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 5px;
}
.kosar-mennyiseg{
	font-size: 16px;
	font-weight: 300;
	display: flex;
}
.kosar-mennyiseg button {
	background: transparent;
	border: 0;
	padding: 0;
	color: white;
	width: 20px;
	cursor: pointer;
}
.kosar-mennyiseg button img,
.x-button img{
	filter:invert(1);
}
.x-button {
    background: transparent;
    border: 0;
    padding: 0;
	width: 20px;
    position: absolute;
    top: 38px;
    right: 6px;
    cursor: pointer;
}
.kosar .osszeg {
    border-top: 1px solid;
    text-align: right;
	margin: 20px 0 30px;
	padding-top: 10px;
}
.kosar .osszeg span{
	font-weight: 600;
	font-size: 30px;
}
.kosar #sum {
    font-size: 26px;
    font-weight: 600;
}
.kosar-promo{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	font-weight: 400;
	color: #AA5530;
	margin: 0 0 10px;
}
.kosar-promo div {
	display: inline-block;
	overflow-y: hidden;
	width: fit-content;
	margin: 0 6px 0 0;
}
.kosar-promo span {
	transform: translateY(99%);
	display: inline-block;
	transition: 500ms ease-out;
}
.kosar-promo span.visible {
	transform: translateY(0);
}
input#myCheck {
    height: 20px;
    width: 20px;
    transform: translateY(3px);
}

#theForm input[type="text"],
#theForm input[type="email"],
#theForm select{
    width: 100%;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box;
    margin: 0 0 20px;
    border: 0;
	border-bottom: 1px solid rgba(15, 40, 70, 0.3);
    font-size: 18px;
	background: transparent;
	color: #AA5530;
}
#theForm input[type="text"]:focus-visible,
#theForm input[type="email"]:focus-visible,
#theForm select:focus-visible{
	outline: none;
    border-bottom: 1px solid #AA5530;
}
#theForm input:-webkit-autofill {
    background-color: transparent !important;
    color: #AA5530 !important;
}
.rendeles-form label {
	font-size: 16px;
	text-transform: uppercase;
    display: inline-block;
}
.iranyitoszam{
	width:37%;
	display: inline-block;
}
.varos{
	width:60%;
	display: inline-block;
}
.radio-label{
	margin: 20px 0;
}
.radio-label label:has(> input:checked) {
	background: linear-gradient(62deg, #BA6C4A, #76381E);
	color: white;
	border: 2px solid #AA5530;
}
.radio-label label {
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid;
	text-align: center;
    cursor: pointer;
    transition: 150ms ease-in-out;
}
.radio-label input{
	display: none;
}
.radio-label .szallitasi-koltseg{
	font-size: 12px;
}
.rendeles-gomb {
	background: linear-gradient(62deg, #BA6C4A, #76381E);
    padding: 20px 50px;
    margin: 20px auto;
    display: block;
    max-width: 320px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
	border:0;
    border-radius: 15px;
	cursor:pointer;
}


@media (max-width:600px){
body{
	font-size: 18px;
}
#alert-cart{
	width: 90%;
}
.header {
    padding: 160px 10px 230px;
}
.header:before {
	top: -65px;
}
.header > div > div {
    width: 100%;
}
.header .heart {
	top: 40%;
	left: 50%;
	max-width: 300px;
}
.header .header-girl {
	width: 100%;
}
.header h2 {
    font-size: 40px;
    line-height: 43px;
}
.hero1 {
    padding: 0 10px 80px;
}
.hero1 > div img, .hero1 > div > div {
    width: 100%;
}
.hero1 > div img{
	opacity: 0;
	transform: translateY(100px) scale(1);
	transform-origin: top left;
	transition: 500ms ease-out;
}
.hero1 > div img.visible{
	opacity: 1;
	transform: translateY(0px) scale(1);
}
.hero2 p {
	margin: 0 auto 120px;
}
.hero3 {
    padding: 20px 10px 50px;
}
.hero3 > div > div {
    width: 100%;
}
.hero2 .termek {
	width: 100% !important;
	margin: 0 0 55px;
}
.hero2 .termek:nth-child(-n+2) {
	margin: 0 0 190px;
}
.hero3 img {
    width: 100%;
    margin: 0 auto 20px;
}

.hero1 h3,
.hero2 h3,
.hero3 h3,
.kosar-promo{
    font-size: 32px;
}
.form h3{
	font-size: 44px;
}
.kosar-termek div div {
    width: 100%;
}
.termek-nev {
    font-size: 22px;
}
.termek-leiras {
    font-size: 16px;
}
.termek-gomb {
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-align: center;
}
.rendeles-form {
    padding: 0;
}
.rendeles-form label {
    font-size: 14px;
}
.form > div > div, .form form {
    width: 100%;
}
}